body {
    padding-top: 50px
}

body > .navbar {
    -webkit-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in
}

@media (min-width: 768px) {
    body > .navbar-transparent {
        background-color: transparent
    }

    body > .navbar-transparent .navbar-nav > .open > a {
        background-color: transparent !important
    }
}

#home {
    padding-top: 0
}

#home .navbar-brand {
    padding: 13.5px 15px 12.5px
}

#home .navbar-brand > img {
    display: inline;
    margin: 0 10px;
    height: 100%
}

#banner {
    min-height: 300px;
    border-bottom: none
}

.table-of-contents {
    margin-top: 1em
}

.page-header h1 {
    font-size: 4em
}

.bs-docs-section {
    margin-top: 6em
}

.bs-docs-section h1 {
    padding-top: 100px
}

.bs-component {
    position: relative
}

.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block
}

.bs-component .modal-dialog {
    width: 90%
}

.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px
}

#source-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: 700
}

.nav-tabs {
    margin-bottom: 15px
}

.progress {
    margin-bottom: 10px
}

footer {
    margin: 5em 0
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em
}

footer p {
    clear: left;
    margin-bottom: 0
}

.splash {
    padding: 9em 0 2em;
    background-color: #141d27;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center
}

.splash .logo {
    width: 160px
}

.splash h1 {
    font-size: 3em
}

.splash #social {
    margin: 2em 0
}

.splash .alert {
    margin: 2em 0
}

.section-tout {
    padding: 4em 0 3em;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: #eaf1f1
}

.section-tout .fa {
    margin-right: .5em
}

.section-tout p {
    margin-bottom: 3em
}

.section-preview {
    padding: 4em 0 4em
}

.section-preview .preview {
    margin-bottom: 4em;
    background-color: #eaf1f1
}

.section-preview .preview .image {
    position: relative
}

.section-preview .preview .image:before {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    pointer-events: none
}

.section-preview .preview .options {
    padding: 1em 2em 2em;
    border: 1px solid rgba(0, 0, 0, .05);
    border-top: none;
    text-align: center
}

.section-preview .preview .options p {
    margin-bottom: 2em
}

.section-preview .dropdown-menu {
    text-align: left
}

.section-preview .lead {
    margin-bottom: 2em
}

@media (max-width: 767px) {
    .section-preview .image img {
        width: 100%
    }
}

.sponsor #carbonads {
    max-width: 240px;
    margin: 0 auto
}

.sponsor .carbon-text {
    display: block;
    margin-top: 1em;
    font-size: 12px
}

.sponsor .carbon-poweredby {
    float: right;
    margin-top: 1em;
    font-size: 10px
}

@media (max-width: 767px) {
    .splash {
        padding-top: 4em
    }

    .splash .logo {
        width: 100px
    }

    .splash h1 {
        font-size: 2em
    }

    #banner {
        margin-bottom: 2em;
        text-align: center
    }
}

.box {
    width: auto;
    height: 150px;
    background-size: 100%;
    background-repeat:no-repeat;
    background-color: #EEEEEE;
}

.caption h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#app {
    margin-top: 20px;
}

.h50 {
    height: 50px;
}

.search-results {
    margin-top: 20px;
    line-height: 25px;
}

.search-results .panel-heading h3 {
    font-size: 15px;
}

.search-results a {
    color: #333;
}

.search-results .result {
    margin-bottom: 20px;
}

.search-results .user.result {
    margin-top: 8px;
    margin-bottom: 0px;
}

.search-results .result em {
    color: #EB5424;
    font-style: normal;
}

.search-results .result .title {
    font-size: 18px;
}

.search-results .result .title .badge {
    background: #EBEDEE;
    color: #9A9DA0;
    font-weight: normal;
    font-size: 12px;
    margin-left: 4px;
}

.search-results .result .info {
    margin-bottom: 6px;
    font-size: 14px;
}

.search-results .result .info .url a {
    color: #23863F;
}

.search-results .result .info .date {
    color: #999;
    margin-left: 8px;
}

.search-results .result .desc {
    color: #666;
    font-size: 14px;
    word-break: break-all;
}

.search-results .result .desc em {
    color: #F86334;
}

.search-results .user .info {
    margin-top: 4px;
    font-size: 14px;
}

.search-results .user .info.number {
    color: #666;
    font-size: 13px;
}

.search-results em {
    color: #e07b7a;
}

.search-results .role-label {
    display: inline-block;
    position: absolute;
}

.search-results .role-label a.label {
    font-size: 85%;
    font-weight: 100;
    padding: 0.2em 1em .2em;
    position: relative;
    margin: 8px;
    color: #fff;
}

.search-results .user-info {
    padding-top: 8px;
    padding-left: 8px;
}

.search-results hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-results .list-panel .panel-body {
    padding: 0px;
}

.search-form {
    margin-top: 40px;
    margin-bottom: 40px;
}

.plan {

}

.plan .banner {
    margin-top: -20px;
    background-image: url(/images/plan.jpg);
    height: 470px;
    background-size: cover;
}
.plan .banner h2 {
    padding-top: 210px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.pricing {
    text-align: center;
    border: 1px solid #f0f0f0;
    color: #777;
    font-size: 14px;
    padding-left: 0;
    margin-bottom: 30px;
    margin-top: -18px;
    font-family: 'Lato';
}
.pricing img {
    display: block;
    margin: auto;
    width: 32px;
}
.pricing li:first-child,
.pricing li:last-child {
    padding: 20px 13px;
}
.pricing li {
    list-style: none;
    padding: 13px;
}
.pricing li + li {
    border-top: 1px solid #f0f0f0;
}
.pricing big {
    font-size: 32px;
}
.pricing h3 {
    margin-bottom: 0;
    font-size: 36px;
}
.pricing span {
    font-size: 12px;
    color: #999;
    font-weight: normal;
}
.pricing li:nth-last-child(2) {
    padding: 30px 13px;
}
.pricing button {
    width: auto;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    color: #fff;
    padding: 9px 24px;
    background: #aaa;
    opacity: 1;
    transition: opacity .2s ease;
    border: none;
    outline: none;
}
.pricing button:hover {
    opacity: .9;
}
.pricing button:active {
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
}
/* pricing color */
.p-green big,
.p-green h3 {
    color: #4c7737;
}
.p-green button {
    background: #4c7737;
}
.p-yel big,
.p-yel h3 {
    color: #ffbb42;
}
.p-yel button {
    background: #ffbb42;
}
.p-red big,
.p-red h3 {
    color: #e13c4c;
}
.p-red button {
    background: #e13c4c;
}
.p-blue big,
.p-blue h3 {
    color: #3f4bb8;
}
.p-blue button {
    background: #3f4bb8;
}